<form class="" action="/tasks" method="post">
  <p>Enter a new task:</p>
  <input type="text" name="task[title]" value="">Title<br/>
  <textarea name="task[description]">Description</textarea><br/>
  <input type="submit" name="" value="submit">
</form>
